language: node_js
node_js:
  - node
  - 8
after_script: 'cat ./coverage/lcov.info | coveralls'

cache:
  directories:
    - node_modules

notifications:
  email:
    recipients:
      - 1119@zolotoykod.ru
      - genteelknight@gmail.com
    on_success: never
    on_failure: always
